nav {
  position: initial;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav * {
  display: block;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}