@font-face {
  font-family: "Red Rose";
  src: url("./style/font/RedRose.ttf");
}

* {
  font-family: "Red Rose";
  color: #E2F2FF;
}

body {
  background-color: #01050A;
  background: linear-gradient(to top left, #01050A, rgba(255, 153, 150, 0), #030911), linear-gradient(to top right, #030d1a, rgba(255, 153, 150, 0), #05101f) #01050A;
  background-repeat: repeat-y;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

nav {
  position: absolute;
  top: 0;
  z-index: 9;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: #E2F2FF;
  gap: 20px;
  padding: 15px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

nav * {
  display: block;
}

.nav-logo {
  height: 60px;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #E2F2FF;
  text-decoration: none;
  text-underline-offset: 0px;
  text-decoration-color: rgba(0, 0, 0, 0);
  transition: 500ms text-underline-offset, 500ms text-decoration-color, 500ms color;
}

.nav-links a:hover {
  color: #c4d1db;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: rgba(196, 209, 219, 1);
}

.cta-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 10;
}

.cta-header {
  font-size: 80px;
  text-align: center;
}

.cta-button {
  color: #01050A;
  font-weight: bolder;
  font-size: 20px;
  width: fit-content;
  border-radius: 40px;
  border: none;
  padding: 5px 30px;
  cursor: pointer;
  background-color: #E2F2FF;
  transition: 500ms background-color;
}

.cta-button:hover {
  background-color: #c4d1db;
}

.star {
  position: absolute;
  display: block;
  z-index: -1;
  top: 800px;
  height: 5px;
  width: 5px;
  background-color: #FFFCE5;
  filter: blur(1px);
  border-radius: 5px;
}

@keyframes star {
  50% {
    opacity: 0;
  }
}

#about {
  margin-top: 100vh;
}

.information-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: auto;
  margin-top: 100px;
  font-size: 22px;
}

.section-header {
  font-size: 50px;
}

.about-paragraph {
  font-size: 22px;
}

#schedule {
  gap: 5px;
}

.schedule-table {
  background-color: #030911;
  border-collapse: collapse;
  box-shadow: 0px 5px 10px black;
  margin-bottom: 50px;
}

.schedule-table td,
th {
  border: 0px solid #000000;
  padding: 10px;
  text-align: left;
  color: white;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #030d1a;
}

footer {
  padding: 10px;
}

#faq {
  align-items: start;
}

#faq .section-header {
  margin: auto;
  margin-bottom: 20px;
}

.faq-item {
  text-align: left;
  overflow-y: hidden;
  transition: 700ms height;
  
  margin-bottom: 20px;
  width: 100%;
}

.faq-header{
  display: flex;
  cursor: pointer;
  width: 100%;
}

.faq-item.closed {
  height: 41px!important;
}
.faq-header h1{
  height: min-content;
}
.expand-arrow{
  margin-left: auto;
  height: 41px;
  transform: rotateY(90deg);
  transition: 500ms transform;
}
.faq-item.closed .expand-arrow{
  transform: rotateY(0deg);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #05101f, #030911);
}

::-webkit-scrollbar-thumb {
  background-color: #E2F2FF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #C4D1DB;
}
.responsive-break{
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  html,body{
    margin:0;
  }
  nav a{
    display: none;
  }
  .information-section {
    max-width: 80%;
  }
  .cta-header{
    font-size: 90px;
  }
  .cta-button{
    font-size: 30px;
    width: max-content;
    margin-top: 20px;
  }
  .section-header{
    font-size: 30px;
  }
  .responsive-break{
    display: unset;
  }
  .faq-header h1{
    font-size: 22px;
  }
  .faq-item.closed {
    height: 28px!important;
  }
  .expand-arrow{
    height: 28px;
  }
}